/* Colors */
$black: #000000;
$white: #FFFFFF;

/* Typography */
$font-size: 14px;
$sf-ui: "sf-ui", "Helvetica", "Roboto", "Arial", sans-serif;
$sf-ui-display: "sf-ui-display", "Helvetica", "Roboto", "Arial", sans-serif;

/* Breakpoints */
/* Usage: @media (--small-screen) { ... } */
@custom-media --medium-screen (max-width: 768px);
@custom-media --small-screen (max-width: 480px);